@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lexend+Deca:wght@300&family=Raleway&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-style: raleway;
  position: relative;
  position: fixed;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: transparent;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.headerbg {
  width: 100%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-style: raleway;
  position: relative;
  position: fixed;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #282828;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.topButton {
  z-index: 100;
  position: fixed;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
} 

.topButton:hover {
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(-25%);
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  50% {
    transform: none;
  }
}

.background {
  position: absolute;
  width: 100%;
  height:  75%;
  right: 0;
  left: 0;
  z-index: 5;
  bottom: 0;
  background: linear-gradient(180deg, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 0.481031) 2.15%, #202020 7.51%);
}


@media (max-width:900px) {
  .background {
    height: 85%;
  }
}

@media (max-width:750px) {
  .background {
    height: 93.75%;
  }
}

@media (max-width:371px) {
  .background {
    height: 93%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

*{
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;

  -ms-overflow-style: none;

  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}